.slider {
  height: 600px;
}
@media only screen and (max-width: 600px) {
  .slider {
    height: 400px;
  }
}
@media only screen and (max-width: 960px)and (min-width: 601px) {
  .slider {
    height: 500px;
  }
}
.brand{
  color: rgb(41, 157, 161) !important;
  font-weight: bold;
}
.link{
  color:rgb(205, 232, 243) !important
}
.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right:18%;
  margin-left:18%;
}
.box:hover{
  box-shadow: 1px 1px 5px 1px;
  cursor: pointer;
}
.icon{
  color:rgb(205, 232, 243);
}
.icon:hover{
  color:rgb(83, 90, 104);
  transition: 0.6s;
}
.description{
font-size: 15px;
}
.title{
  font-size: 22px !important;
  font-weight: bold !important;
}
.contact{
  background-color: pink;
  padding: 20px 10px;
}
.about-heading{
  background-color: rgb(250, 181, 166);
  text-align: center;
  color:white;
  padding:10px 0;
}
.about-heading:hover{
  background-color: black;
}